<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>toth - Style Guide</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="toth.min.css">

    {{#each this}}
      <link rel="stylesheet" href="{{cssurl}}">
      <script href="{{jsurl}}"></script>
    {{/each}}
  </head>
  <body>
    <div class="toth-loader is-open">
      <span class="toth-loader-text">
        loading
        <div class="toth-loader-spinner">
          <span class="top-left"></span>
          <span class="top-right"></span>
          <span class="bot-left"></span>
          <span class="bot-right"></span>
        </div>
      </span>
    </div>
    <div class="toth-body">
      <aside class="toth-navbar">
        <nav class="toth-navbar-menu">
          <ul class="toth-navigation">
          {{#each this}}
          <li class="toth-nagigation-item">
            <a class="toth-navigation-link" href="#{{id}}" title="{{name}}">{{name}}</a>
          </li>
          {{/each}}
          </ul>
        </nav>
        <a class="toth-navbar-brand" href="https://github.com/filipelinhares/toth"><small>built with toth</small></a>
      </aside>
      <section class="toth-guide-body">
        {{#each this}}
          <section class="toth-section">
            <h2 id="{{id}}">{{name}}</h2>
            <p>{{description}}</p>
            {{#if this.colors}}
              <div class="toth-color-grid">
                {{#each this.colors}}
                  <div class="toth-color-item">
                    <div class="toth-color-palette" style="background-color: {{name}}">
                      <span class="toth-color-text"><strong>{{name}}</strong> - {{variable}}</span>
                    </div>
                  </div>
                {{/each}}
              </div>
            {{else}}
            <h3>Modifiers</h3>
            <dl>
              {{#each state}}
                <dt>{{name}}</dt>
                <dd>{{description}}</dd>
              {{/each}}
            </dl>
            <h3>Example</h3>
            {{{markup.example}}}
            <h3>Markup</h3>
            <pre class="toth-code">
                <button class="js-btn-clipboard toth-btn-clipboard">Copy</button>
                <code class="html">
{{markup.example}}
                </code>
                </pre>
            {{/if}}
          </section>
        {{/each}}
      </section>
    </div>
    <script src="toth.min.js"></script>
  </body>
</html>
